// COLORS
$header-color: #f2e9ce
$nav-color: #8a1515
$footer-color: #1a1a1a
$title-color: #dddddd
$font-color: #262525
$grey: #9fa6a1
$buttonColor:#29ba30
$buttonColor2: #ae9f73
$offerColor1: #1a1a73

// FONTS
$nav-font: 'Noto Sans TC', sans-serif
$first-font: 'Roboto Condensed', sans-serif