
/* Imports */
@import "mixins"
@import "colorsFonts"


footer
  background-color: $footer-color
  height: 10em
  padding-top: 0.1em

  ul
    list-style: none


  li
    display: inline

    margin-right: 0.5em

  a
    text-decoration: none
    color: white
    font-family: $nav-font
    font-weight: bold

    +sm
      font-size: 1.5em

    +xs
      font-size: 1.5em

  #footer-middle
    display: flex
    justify-content: flex-end
    padding-right: 2em


    img

      width: 12em

      +lg
        width: 16em

      +md
        width: 25%

  #footer-bottom
    text-align: center
    color: white
    font-family: $nav-font
    position: relative
    top: 2.5em
    font-size: 0.8em

    +sm
      font-size: 1em
      position: relative
      top: 1em

    +xs
      font-size: 1em
      position: relative
      top: 1em